body {
  font-family: "Poppins", sans-serif;
  background: rgb(255, 201, 225);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns-card {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: #fed9e9;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-img {
  height: 179px;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background: rgb(214, 62, 87);
  text-decoration: none;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.secondary-section {
  background: rgb(251, 192, 216);
}

.img-responsive {
  width: 100%;
}

.center {
  text-align: center;
}

header {
  background-image: linear-gradient(
      rgba(138, 51, 65, 0.4),
      rgba(248, 151, 167, 0.3)
    ),
    url("/images/valentine-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
  background-position: 0% 40%;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 5px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
  color: rgb(214, 62, 87);
  padding: 16px 32px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 4px;
}

main img {
  width: 550px;
}

main {
  background: rgb(254, 217, 233);
}

main h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: rgb(214, 62, 87);
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: rgb(47, 15, 19);
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: rgb(47, 15, 19);
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(138, 51, 65, 0.7),
      rgba(248, 151, 167, 0.9)
    ),
    url("/images/valentine-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 20%;
}

footer h3 {
  font-weight: 700;
  font-size: 20x;
  line-height: 1;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  footer h3 {
    font-size: 18px;
  }

  footer p {
    font-size: 14px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
